body {
    background-color: lightgray;
}

.app {
    background-color: lightgray;
    padding: 10px;
}

.app-container {
    margin-top: 10px;
    
    background-color: white;
    padding: 25px;
    box-shadow: 5px 5px 10px darkgray;
}